# Dados e backups
*.backup
*.sql.gz

# Node-RED
node_modules/

# Docker
.env

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
nodered/data/flows_cred.json
nodered/data/.config.users.json
*:Zone.Identifier
*.db
*.sqlite
backups/
backups/
grafana.db.bak
*.bak
